<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
<sql id="search">
	<choose>
		<when test="searchGubun == 'id_name' ">
			and (id like '%' || #{searchData} || '%' or name like '%' || #{searchData} || '%')
		</when>
		<when test="searchGubun != null and searchGubun != '' and searchData != null and searchData != ''">
			and (${searchGubun} like '%' || #{searchData} || '%')
		</when>
		<otherwise>
		</otherwise>
	</choose>
</sql>

<select id="getSelectAll" resultType="com.jih.springPortfolio.board.model.dto.BoardDTO">

	select * from (select A.*, Rownum rnum from (
		select * from board where 1 = 1
		<include refid="search"></include>
<![CDATA[
		order by no desc
		
	) A) where rnum >= #{startRecord} and rnum <= #{lastRecord}
]]>

</select>

<select id="getTotalRecord" resultType="int">
	select count(*) from board where 1 = 1
	<include refid="search"></include>
</select>

<select id="getMaxNumRefNo" resultType="int">
	select nvl(max(${gubun}),0) maxValue from board
</select>

<update id="setUpdateRelevel">
	update board set levelNo = (levelNo + 1) where refNo = #{refNo} 
	<![CDATA[
	and levelNo > #{levelNo}
	]]>
</update>

<select id="getSelectOne" resultType="com.jih.springPortfolio.board.model.dto.BoardDTO">
	select * from member board no = #{no}
</select>

<insert id="setInsert">
	insert into board values (
		seq_board.nextval,
		#{num},
		#{tbl},
		#{writer},
		#{subject},
		#{content},
		#{email},
		#{passwd},
		#{refNo},
		#{stepNo},
		#{levelNo},
		#{parentNo},
		#{hit},
		#{ip},
		#{memberNo},
		#{noticeNo},
		#{secretGubun},
		sysdate,
		#{attachInfo}
	)
</insert>

<update id="setUpdate">
	update board set
	phone = #{phone},
	email = #{email},
	juso1 = #{juso1},
	juso2 = #{juso2},
	juso3 = #{juso3},
	juso4 = #{juso4},
	grade = #{grade},
	attachInfo = #{attachInfo}
	where no = #{no}
</update>

<delete id="setDelete">
	delete from board
	where no = #{no}
</delete>

<!-- 로그인 -->
<!-- <select id="getLogin" resultType="int">
	select no from member where id = #{id} and passwd = #{passwd}
</select> -->

<select id="getLogin" resultType="com.jih.springPortfolio.member.model.dto.MemberDTO">
	select no, id, name from board where id = #{id} and passwd = #{passwd}
</select>

</mapper>
