<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
<sql id="search">
	<choose>
		<when test="searchGubun == 'subject_content' ">
			and (subject like '%' || #{searchData} || '%' or content like '%' || #{searchData} || '%')
		</when>
		<when test="searchGubun != null and searchGubun != '' and searchData != null and searchData != ''">
			and (${searchGubun} like '%' || #{searchData} || '%')
		</when>
		<otherwise>
		</otherwise>
	</choose>
</sql>

<select id="getSelectAll" resultType="com.jih.springPortfolio.notice.model.dto.NoticeDTO">

	<!-- 
	
	select * from (select A.*, Rownum rnum from (
		select * from board where 1 = 1
		<include refid="search"></include>
<![CDATA[
		order by no desc
		
	) A) where rnum >= #{startRecord} and rnum <= #{lastRecord}
]]> 

-->
	select * from (select A.*, Rownum rnum from (
	
		select * from notice where 1 = 1
		<include refid="search"></include>
		order by noticeNo desc, refNo desc
<![CDATA[
	) A) where rnum >= #{startRecord} and rnum <= #{lastRecord}
]]> 

</select>

<select id="getTotalRecord" resultType="int">
	select count(*) from notice where 1 = 1
	<include refid="search"></include>
</select>

<select id="getMaxNumRefNoNoticeNo" resultType="int">
	select nvl(max(${gubun}),0) maxValue from notice
</select>


<select id="getSelectOne" resultType="com.jih.springPortfolio.notice.model.dto.NoticeDTO">
	<!-- select * from board where no = #{no} -->
	  select * from ( select b.*, 
					  LAG(no) OVER (order by noticeNo desc, refNo desc) preNo,
					  LAG(subject) OVER (order by noticeNo, refNo desc) preSubject,
					  LEAD(no) OVER (order by noticeNo desc, refNo desc) nxtNo,
					  LEAD(subject) OVER (order by noticeNo desc, refNo desc) nxtSubject 
		   			  from notice b where 1 = 1
		   			  <include refid="search"></include>
		   			  order by noticeNo desc, refNo desc
		    		) 
	  where no = #{no}
</select>

<insert id="setInsert">
	insert into notice values (
		seq_notice.nextval,
		#{num},
		#{tbl},
		#{writer},
		#{subject},
		#{content},
		#{passwd},
		#{refNo},
		#{hit},
		#{memberNo},
		#{noticeNo},
		sysdate,
		#{attachInfo}
	)
</insert>

<update id="setUpdate">
	update notice set
	subject = #{subject},
	content = #{content},
	noticeNo = #{noticeNo},
	attachInfo = #{attachInfo}
	where no = #{no} and passwd = #{passwd}
</update>

<delete id="setDelete">
	delete from notice
	where no = #{no} and passwd = #{passwd}
</delete>

<update id="setUpdateHit">
	update notice set hit = (hit + 1) where no = #{no}
</update>

<!-- 로그인 -->
<!-- <select id="getLogin" resultType="int">
	select no from member where id = #{id} and passwd = #{passwd}
</select> -->

<select id="getLogin" resultType="com.jih.springPortfolio.member.model.dto.MemberDTO">
	select no, id, name from board where id = #{id} and passwd = #{passwd}
</select>

</mapper>
